

{% load static %}

<div class="d-grid cont-grid-footer">

    {# Primera columna: Logo + Texto de la compañía #} 
    <div class="d-flex-col gap-2 w-100 description">

        {# logo dinamico de la tienda #}
        <a href="{{ store_info.logo.redirect_url|default:'/' }}" 
            class="w-100 h-150" title="{{ store_info.store.name }}">
            {% if store_info.logo.image_url %}
                <img src="{{ store_info.logo.image_url }}" 
                    class="img-cover" alt="Logo {{ store_info.store.name }}"
                    loading="lazy" width="100" height="100">
            {% else %}
                <img src="{% static 'ico/logo.jpg' %}" 
                    class="img-cover" alt="Logo {{ store_info.store.name }}"
                    loading="lazy" width="100" height="100">
            {% endif %}
        </a>

        {# description por defecto solo por SEO #}
        <p class="text-justify store-description text-line-sm">{{ store_info.store.description }}</p>

        {# titulo intermedio para mas info de contacto #}
        <p class="text-justify bolder"> Información adicional! </p>
        
        <span class="d-flex gap-1 text-start">
            <i class="ri-map-pin-line font-xl"></i>{{ store_info.store.address }}, Córdoba, Argentina.
        </span>

        <span class="d-flex gap-1">
            <i class="ri-whatsapp-line font-xl"></i>{{ store_info.store.cellphone }}
        </span>

        <div class="d-flex gap-1">
            <i class="ri-time-line font-xl"></i>
            <span class="d-flex-col gap-1 text-justify store-schedules">
                {% if not store_info.store.schedules %}
                    <p>Lunes a Viernes de 10hs a 14hs y de 15hs a 18:50hs.</p>
                    <p>Sábado mediodía.</p>
                {% endif %}
            </span>
        </div>

        <span class="d-flex gap-1">
            <i class="ri-mail-line font-xl"></i>{{ store_info.store.email }}
        </span>
    </div>

    {# Segunda columna #} 
    <div class="d-flex-col text-break gap-2 w-100 information">
        <h3>Información</h3>

        <a href="/" class="ms-1 underline-anim" title="{{ store_info.store.name }}">
            <span class="fw-normal-plus">Home</span>
        </a>
        
        <a href="{% url 'contact' %}" class="ms-1 underline-anim" title="Contacto">
            <span class="fw-normal-plus">Contacto</span>
        </a>

        {% if user.is_authenticated %}
            <a href="/" class="ms-1 underline-anim" title="Mis Pedidos">
                <span class="fw-normal-plus">Mis Pedidos</span>
            </a>
            <a href="/" class="ms-1 underline-anim" title="Mi Perfil">
                <span class="fw-normal-plus">Mi Perfil</span>
            </a>
        {% endif %}

        <a href="#" class="ms-1 underline-anim" title="Términos y Condiciones">
            <span class="fw-normal-plus">Términos y Condiciones</span>
        </a>
        
        <a href="#" class="ms-1 underline-anim" title="Garantía y Política de Devoluciones">
            <span class="fw-normal-plus">Garantía y Política de Devoluciones</span>
        </a>
        
        <a href="#" class="ms-1 underline-anim" title="Promociones Bancarias">
            <span class="fw-normal-plus">Promociones Bancarias</span>
        </a>
        
        <a href="#" class="ms-1 underline-anim" title="Servicios">
            <span class="fw-normal-plus">Servicios</span>
        </a>
    </div>


    {# Tercera columna #} 
    <div class="d-flex-col gap-2 w-100 categories">
        <h3 class="text-start">Categorías</h3>

        <ul class="d-flex-col gap-2">
            {% for _, object in categories_dropmenu.items %}
            <li>
                <a href="#" class="ms-1 underline-anim" title="Servicios">
                    <span class="fw-normal-plus font-md">{{object.category.name}}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    {# Cuarta columna #} 
    <div class="d-flex-col gap-2 w-100 h-min networks">

        <h3 class="text-main">Seguinos!</h3>

        {# Icon Container  #} 
        <div class="d-grid icons-footer">
            {# WSP siempre irá primero ver después logica con js para cambiar el href #}
            <a href="https://wa.me/{{ store_info.store.wsp_number }}" target="_blank" title="Whatsapp"
                class="text-white hover-up justify-self-center" 
                data-type="footer">
                <i class="ri-whatsapp-line font-xxl"></i>
            </a>

            {# creamos dinamicamente los iconos asociados #}
            {% for social in store_info.social_networks.all %}
                <a href="{{social.url}}" class="text-white hover-up justify-self-center" 
                target="_blank" title="{{social.name}}">
                    {# Usamos la icon_class y name que generamos dinámicamente en el Service #}
                    <i class="{{social.icon_class}} font-xxl"></i>
                </a>
            {% endfor %}
        </div>
    </div>

    <div class="border-top-prim w-100 grid-col-all d-flex justify-center bolder font-md p-3 mt-2">
        © 2024 Ecommerce Generic. All rights reserved.
    </div>
</div>