

{% load static %}

{# NAV DESKTOP PARTE TOP - LOGO - FORM SEARCH - ICONS #}
<nav class="d-desktop-grid cont-page d-grid grid-navbar-top top-nav relative gap-2">
    
    {# {{ store_info.logo.redirect_url|default:'/' }} #}
    <a href="/" class="w-100 h-100 logo-navbar-top" title="{{ store_info.store.name }}">
        {% if store_info.logo.image_url %}
            <img src="{{ store_info.logo.image_url }}" 
                class="img-cover" alt="Logo DB {{ store_info.store.name }}"
                loading="lazy" width="100" height="100">
        {% else %}
            <img src="{% static 'ico/logo.jpg' %}" 
                class="img-cover" alt="Logo {{ store_info.store.name }}"
                loading="lazy" width="100" height="100">
        {% endif %}
    </a>

    <form class="top-bar-search bg-primary cont-space-between align-self-center" action="{% url 'product_top_search' %}">
        <input class="text-primary" type="text" placeholder="Buscar..." name="topQuery" 
            autocomplete="off" required minlength="2">
        <button class="btn text-primary scale-on-touch" type="submit">
            <i class="ri-search-line font-lg"></i>
        </button>
    </form>
    
    <div class="d-flex justify-end gap-2">
        {# wsp href por defecto, después logica con js para cambiar el href #}
        <a href="https://wa.me/{{store_info.store.wsp_number}}" target="_blank" title="Whatsapp"
            class="text-white hover-up btn-wsp" 
            data-type="navbar">
            <i class="ri-whatsapp-line font-xxl"></i>
        </a>

        {# creamos dinamicamente los iconos asociados #}
        {% for social in store_info.social_networks.main %}
            <a href="{{social.url}}" class="text-white hover-up" target="_blank" title="{{social.name}}">
                {# Usamos la icon_class y name que generamos dinámicamente en el Service #}
                <i class="{{social.icon_class}} font-xxl"></i>
            </a>
        {% endfor %}
    </div>

    {% comment %}
        Si bien el boton esta mas abajo se pone aca para evitar el cambio de
        static a fixed y que se mueva este widget en la pantalla
    {% endcomment %}
</nav>


{# NAV DESKTOP MAIN PART ( categories - list links - register icon ) #}
<nav class="d-desktop-grid d-grid h-min w-100" id="cont-main-nav">

    {% comment %}
        Este div='cont-page' aunque parezca demas es necesario para delimitar el futuro fixed que se hace
        con la navbar asiqeu no lo toquen... 
    {% endcomment %}
    <div class="cont-page">
        <div class="d-grid grid-navbar-main gap-2" id="main-nav-list">

            {# to pass image url to the script #}
            <a href="/" class="cont-logo-fixed cont-100" 
                data-state="closed" title="{{ store_info.store.name }}">
                {% if store_info.logo.image_url %}
                    <img src="{{ store_info.logo.image_url }}" loading="lazy"
                        class="img-cover" alt="Logo {{ store_info.store.name }}">
                {% else %}
                    <img src="{% static 'ico/logo.jpg' %}" loading="lazy"
                        class="img-cover" alt="Logo {{ store_info.store.name }}">
                {% endif %}
            </a>

            {# drop down menu - hoods #}
            <div class="d-flex relative dropdown">
                <div class="w-100">
                    {% include "products/dropmenu_categories.html" %}
                </div>
            </div>
            
            {# list useful links #}
            <ul class="d-flex h-100 gap-1">
                <li class="cont-nav__link">
                    <a href="{% url 'Home' %}" class="underline-anim h-100 w-100 d-flex py-1 px-2" 
                    title="{{ store_info.store.name }}">
                        <span class="text-white bolder font-sm">Home</span>
                    </a>
                </li>

                <li class="cont-nav__link">
                    <a href="{% url 'contact' %}" class="underline-anim h-100 w-100 d-flex py-1 px-2" title="Contacto">
                        <span class="text-white bolder font-sm">Contacto</span>
                    </a>
                </li>
        
                <li class="cont-nav__link">
                    <a href="{% url 'help_mp' %}" class="underline-anim h-100 w-100 d-flex py-1 px-2" title="¿Quienes Somos?">
                        <span class="text-white bolder font-sm">¿Quienes Somos?</span>
                    </a>
                </li>
            </ul>

            {# icons sections #}
            <div class="d-flex justify-end gap-2 relative">
                {# Icon Dark mode #}
                <button class="theme-toggle btn btn-40 btn-main">
                    <i class="theme-icon ri-moon-line font-xl"></i>
                </button>

                {# Icon Cart Overlay, el widget esta en base.html en el header #}
                <button class="btn btn-main btn-40 relative cart-button" aria-expanded="false"">
                    <i class="ri-shopping-cart-2-line font-xl"></i>
                    {# Badge para mostrar el número de productos #}
                    <span class="cart-badge" id="badge-cart-button">{{ total_items }}</span>
                </button>
        
                {# Icon user login, el widget esta en base.html en el header #}
                <button class="btn btn-main btn-40 user-button" aria-expanded="false">
                    <i class="ri-user-3-line font-xl"></i>
                </button>
                
            </div>
        </div>
    </div>
</nav>
