

main { padding-top: 0;    /* mobile changes */ }

/* Styles for small mobile phones (hasta 480px) */
.cont-headers {
    display: flex;
    width: 100%;
    height: calc(100vh - var(--height-header)); /* edit mobile      */
    max-height: 300px;
    position: relative;
}

.cont-banners {
    display: flex;
    width: 100%;
    height: 400px;
    position: relative;
} 

/* Styles for tablets (mín. 481px to max. 768px) */
@media (min-width: 480px) {
    .cont-headers {
        max-height: 310px;
    }
}

/* Styles for desktops (mín. 769px to max. 992px+)) */
@media (min-width: 768px) {
    /* Styles for desktops */
    .cont-headers {
        max-height: 330px;
    }
}

/* Styles for large desktops (mín. 993px to max. infinite) */
@media (min-width: 992px) {
    .cont-headers {
        max-height: calc(100vh - var(--height-header));
    }
}

/* estos son por botones extras que actualmente no se usan
.cont-headers .swiper-button-next,
.cont-headers .swiper-button-prev {
    color: var(--main-color);
} */

/* this styles is for banner on header */
.cont-headers .swiper-slide,
.cont-banners .swiper-slide {
    width: 100%;
    height: 100%;
    position: relative;
}

.cont-headers .swiper-slide .header-img,
.cont-banners .swiper-slide .header-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.cont-headers .swiper-pagination,
.cont-banners .swiper-pagination {
    position: absolute;
    background-color: #ffffff85;
    margin-left: 50%;
    transform: translateX(-50%); /* Ajusta la posición exacta del centro */

    width: min-content !important;
    height: 22px !important;

    display: flex;
    justify-content: center !important;
    align-items: center !important;
    border-radius: 5px;
}

.cont-headers .swiper-pagination-bullet,
.cont-banners .swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    background-color: #ffffff;
    opacity: 0.5;
    margin: 0 6px;
}

.cont-headers .swiper-pagination-bullet-active,
.cont-banners .swiper-pagination-bullet-active {
    background-color: var(--main-light-color); 
    opacity: 1; 
}





/* 2. Ajuste obligatorio para Swiper Grid */
.swiper-offers .swiper-grid-column > .swiper-wrapper {
    flex-direction: row !important; /* Forza la dirección correcta */
}

/* El contenedor del swiper debe tener una altura fija o mínima */
.swiper-offers {
    height: 380px; /* Ajusta según el alto de tus cartas */
    margin: 20px 0;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.swiper-offers .image   { grid-area: image; }
.swiper-offers .name    { grid-area: name; }
.swiper-offers .price   { grid-area: price; }
.swiper-offers .btn-add { grid-area: button; }
.swiper-offers .corner-box { grid-area: corner; }

/* Ajuste necesario para que las filas no se encimen */
.swiper-offers .swiper-slide {
    height: calc((100% - 20px) / 2) !important; /* (100% - spaceBetween) / rows */
    display: grid;

    position: relative;

    row-gap: 8px;
    column-gap: 8px;
    
    grid-template-columns: 120px 1.5fr 30px;
    grid-template-rows: min-content auto min-content ;

    grid-template-areas: 
        "image    name     corner"
        "image    price    price"
        "image    button    button ";
}




.swiper_offers__title {
    height: 50px;
    margin-bottom: 5px;
}

.separator {
    display: flex;
    align-items: center;
    width: calc(100% - 80px);
}

.separator::after {
    content: "";
    flex: 1;
    border-bottom: 3px solid var(--main-color);
}
    
